<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DHJmath</title>
    <!-- Jquery -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/agate.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    {{>common-css-master}}
</head>
<body>
<header id="header">
    <div id="top-bar">
        <div id="logo-img-div" class="top-divs">
            <a href="#">
                <img id="logo-img" src="../resources/assets/images/logo.png">
            </a>
        </div>
        <div id="login-icon" class="top-divs">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            </svg>
        </div>
    </div>
    <div id="header-nav">
        <ul class="menu-nav">
            <li class="menu_list">HOME</li>
            <li class="menu_list">1. 수열</li>
            <li class="menu_list sub-menu">1-1. 수열이란?</li>
            <li class="menu_list sub-menu">1-2. 등차수열</li>
            <li class="menu_list sub-menu">1-3. 등비수열</li>
            <li class="menu_list sub-menu">1-4. 점화식</li>
            <li class="menu_list">2. 행렬</li>
            <li class="menu_list sub-menu">2-1. 행렬이란?</li>
            <li class="menu_list sub-menu">2-2. 행렬의 연산</li>
            <li class="menu_list sub-menu">2-3. 행렬의 유형</li>
            <li class="menu_list">3. 집합</li>
            <li class="menu_list sub-menu">3-1. 집합이란?</li>
            <li class="menu_list sub-menu">3-2. 집합의 연산</li>
            <li class="menu_list sub-menu">3-3. 부분집합</li>
            <li class="menu_list">4. 정수론</li>
            <li class="menu_list sub-menu">4-1. 소인수분해</li>
            <li class="menu_list sub-menu">4-2. 소수</li>
            <li class="menu_list sub-menu">4-3. 최대공약수</li>
            <li class="menu_list sub-menu">4-4. 최소공배수</li>
            <li class="menu_list">5. 진수</li>
            <li class="menu_list sub-menu">5-1. 10진수</li>
            <li class="menu_list sub-menu">5-2. 2진수</li>
            <li class="menu_list sub-menu">5-3. 8진수</li>
            <li class="menu_list sub-menu">5-4. 16진수</li>
            <li class="menu_list">6. 확률과 통계</li>
            <li class="menu_list sub-menu">6-1. 경우의 수</li>
            <li class="menu_list sub-menu">6-2. 팩토리얼</li>
            <li class="menu_list sub-menu">6-3. 순열</li>
            <li class="menu_list sub-menu">6-4. 조합</li>
            <li class="menu_list">자유게시판</li>
            <li class="menu_list">@Information</li>

        </ul>
    </div>
</header>



