{{>layout/header}}

<link rel="stylesheet" href="/css/board-save.css">
</head>

<body>
    <section>
        <div class="content">
            <h1>자유게시판 글쓰기</h1>
            <br><br><br><br>

            <div class="form-div">
<!--                <form class="write-form" action="">-->
                    <table class="write-tab">
                        <tr>
                            <td>제목</td>
                            <td>
                                <input type="text" id="boardTitle">
                            </td>
                        </tr>
                        <tr>
                            <td><input type="hidden" id="userId" value=""></td>
                        </tr>
                        <tr>
                            <td>내용</td>
                            <td>
                                <textarea id="boardContent" cols="100" rows="40"></textarea>
                            </td>
                        </tr>
                    </table>

                    <br><br><br>

                    <div class="btn-div">
                        <button class="board-btn" type="submit" id="btn-save">작성하기</button>
                        <button class="board-btn" type="button">작성취소</button>
                    </div>
<!--                </form>-->

                <br><br><br><br><br>

            </div>

        </div>

    </section>

