{{>layout/header}}

<link rel="stylesheet" href="/css/user-login.css">
</head>

<body>

    <div class="ModalArea">
        <div class="cancelArea">
            <button class="cancelBtn">x</button>
        </div>

        <div class="btnArea">
            <div><a href="/oauth2/authorization/google" class="btn" role="button">Google 로그인</a></div>
            <div><a href="#" class="btn" role="button">Naver 로그인</a></div>
            <div><a href="#" class="btn" role="button">Kakao 로그인</a></div>
        </div>
    </div>

{{>layout/footer}}