{{>layout/header}}


    <h1>임시 화면</h1>

    {{#sessionUser}}
        {{sessionUser.name}} 님 환영합니다.
        <a href="/logout" role="button">로그아웃</a>
    {{/sessionUser}}

    {{^sessionUser}}
        <a href="/user/login" role="button">로그인</a>
    {{/sessionUser}}

{{>layout/footer}}